/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set up background color on page and apply general text style */
body {
    background-color: #464747;
    font-family: 'Luckiest Guy', sans-serif;
    letter-spacing: 2px;
    color: #fffb25;
    text-align: center;
    min-height: 95vh;
    max-width: 1000px;
    margin: 0 auto; 
    text-shadow: 2px 2px black;   
} 

/* Style for the title */
header {
    margin: 2rem;
}

header>h1 {
    font-size: 200%;
    color: #eb69fc; 
}

/* Add flex on play area to achieve responsive layout structure */
.play-area {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Styling of buttons */
.choices {
    margin-top: 1rem;
}

.btn {
    margin: 1rem;
    width: 57px;
    height: 57px;
    transition: all 0.3s ease;
    border-radius: 50%;
    font-size: 38px;
    outline: none;
    border: none;
}

.btn--blue {
    background-color: #68f1f1;
}

.btn--orange {
    background-color: #fff243;
}

.btn--pink {
    background-color: #fa77fa;
}

.btn--green {
    background-color: #5dee95;    
}

.btn--red {
    background-color: #8b92f8;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    border: 3px solid rgb(253, 180, 70)
}

/* Styling for result area */
.result-display {
    padding: 1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#result-text {
    font-size: 30px;
}

/* Score area */
.score {
    line-height: 2.5rem;
    padding-bottom: 1rem;    
}

.score>span {
    font-size: 25px;
}

/* Rules area */
.rules>h2 {
    font-family: 'Luckiest Guy', sans-serif;
}

.rules {
    font-family: 'Lato', sans-serif;
    margin: 0 1rem;
    line-height: 2.5rem;
}

/* Footer positioned at the bottom of the page*/
footer {
    position: sticky;
    top: 95vh;
    padding: 1rem;
}

footer>a {
    font-size: 30px;
    color: white;
    margin: 1rem;
}

/* 
Media query for screens with min width of 600px.
Setting up larger buttons for bigger screen sizes and
changing the order of result display children.
*/
@media screen and (min-width: 600px) {
    .btn {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    .result-display {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .result-display :nth-child(1) {
        order: 2;
    }

    .result-display :nth-child(2) {
        order: 1;
    }

    .result-display :nth-child(3) {
        order: 3;
    }
}