/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Sett up background color on page and apply general text style */
body {
    background-color: #3f4344;
    font-family: 'Luckiest Guy', sans-serif;
    letter-spacing: 3px;
    color: #8BFEAA;
    text-align: center;
}
/* Style for the title */
header {
    padding: 2rem;
}

header>h1 {
    font-size: 200%;
}

h1,
h2 {
    text-shadow: 2px 2px rgb(230, 73, 230);
}
/* Rules area */
.rules {
    margin: 0 1rem;
    line-height: 3rem;    
}
/* Add flex on play area so that the buttons stand on the same line
and to achieve responsive layout structure 
 */
.play-area {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;     
}
/* Styling of buttons */
.choices {
    margin-top: 1rem;
}

.btn {
    margin: 1rem;
    width: 57px;
    height: 57px;
    transition: all 0.3s ease;
    border-radius: 50%;
    font-size: 38px;
    outline: none;
    border: none;

}

.btn--blue {
    background-color: #78c7f5;
}

.btn--purple {
    background-color: #8f61d8;
}

.btn--pink {
    background-color: #e7699e;
}

.btn:hover {    
    cursor: pointer;
    transform: scale(1.2);
    border: 3px solid yellow
}
/* Result area */
.result-display {
    padding: 1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 1rem;
}
#result-text {
    font-size: 30px;           
}

/* Score area */
.score {
    line-height: 2.5rem;
    padding-bottom: 2rem;
}

.score>span {
    font-size: 30px;
}

@media screen and (min-width: 600px) {
    .btn {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
}